.container{
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  background-clip: content-box;

  .content{

  }

}

.no-scrollbar {
  overflow: auto;
  -ms-overflow-style: none;  /* IE 和 Edge */
  scrollbar-width: none; /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}